@if (canTriggerDialog()) {
  <button brnDialogTrigger hlmBtn>
    <img
      [src]="currentPicture().imgUrl"
      alt="Product image"
      class="w-[400px] rounded-xl"
    />
  </button>
} @else {
  <img
    [src]="currentPicture().imgUrl"
    alt="Product image"
    class="w-[400px] rounded-xl"
  />
}
<div class="flex gap-2">
  @for (image of productImages; track image.id) {
    <button>
      <img
        [src]="image.thumbnailUrl"
        alt="Product thumbnail {{ image.id }}"
        class="w-[90px] rounded-xl hover:opacity-60 {{
          currentPicture().id === image.id &&
            'outline outline-2 outline-orange-400'
        }}"
        (click)="onThumbnailClick(image.id)"
      />
    </button>
  }
</div>
